params {
    tbprofiler_path = "tb-profiler"
    resistanceDb = "${projectDir}/resources/resistance_db_who" // OR "NONE"
}


profiles {

    use_micromamba {
        conda {
            enabled = true
            use_micromamba = true
        }
    }

    use_docker {
        docker {
            enabled = true
        }
    }

    tbprofiler600 {

        process {

            withName: 'TBPROFILER.*' {
                conda = "bioconda::tb-profiler=6.0.0"
                container = "quay.io/biocontainers/tb-profiler:6.0.0--pyhdfd78af_0"
            }

        }

    }

    tbprofiler411 {

        process {

            withName: 'TBPROFILER.*' {
                conda = "bioconda::tb-profiler=4.1.1"
            }

        }

    }

    //NOTE: The 4.3.0 isn't available on bioconda yet
    tbprofiler430 {

        process {

            withName: 'TBPROFILER.*' {
                conda = "bioconda::tb-profiler=4.3.0"
            }

        }

    }




    hpc_slurm {

        executor {
        //    queueSize = 1
            pollInterval = '5sec'
        }

        process {

            executor = "slurm"

            time = '1h'
            cpus = 1
            memory = 1.GB

            withName: 'TBPROFILER.*' {
                conda = "bioconda::tb-profiler=4.1.1"
            }

        }

    }

}
