params {

    tbprofiler_path = "tb-profiler"
    resistanceDb = "${projectDir}/resources/resistance_db_who" // OR "NONE"
}


executor {
//    queueSize = 1
    pollInterval = '5sec'
}

process {

    executor = "slurm"

    time = '1h'
    cpus = 1
    memory = 1.GB

    withName: 'TBPROFILER.*' {
        conda = "bioconda::tb-profiler=4.1.1"
    }

}
